@model  CICSWebPortal.Models.WebPayment
@{
    ViewBag.Title = "RemittanceForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string displayStyle = string.Empty;
    int roleId = Convert.ToInt32(Session["RoleId"]);
    string roleCode = (string)Session["RoleCode"];
    bool cancreatewebUsers = (bool)Session["CanCreateWebUsers"];
    var user = (CICSWebPortal.ViewModels.UserDashBoardViewModel)Session["LoggedInUser"];
    var percentage = (ViewBag.PercentageDeduction != null) ? (decimal)ViewBag.PercentageDeduction : 0;
}
@{
    string[] clientmenu = new string[] { "TP" };
    displayStyle = (clientmenu.Contains(roleCode)) ? string.Empty : "display: none";
    //displayStyle = string.Empty; if (roleId != 7) { displayStyle = "display: none"; }
}
<div style="@displayStyle; padding-left: 20px">
    <h4>Welcome, @ViewBag.TaxpayerName</h4>
</div>

<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="#"> Home</a></li>
        <li class="active">Development Levy</li>
    </ul>
</div><!-- /breadcrumb-->
<div class="main-header clearfix">
    @{
        clientmenu = new string[] { "SA", "SU", "CA", "CU", "AA", "AU" };
        displayStyle = (clientmenu.Contains(roleCode)) ? string.Empty : "display: none";
        //displayStyle = string.Empty; if (roleId == 7) { displayStyle = "display: none"; }
    }
    <div class="page-title" style="@displayStyle">
        <div class="alert alert-warning">
            <span>You Cannot View This Page.</span>
        </div>
    </div><!-- /page-title -->

    @{
        clientmenu = new string[] { "WA" };
        displayStyle = (clientmenu.Contains(roleCode)) ? string.Empty : "display: none";
    }

    @{
        if (ViewBag.Status != null)
        {
            bool status = (bool)ViewBag.Status;
            if (status == true)
            {
                <div class="title">
                    <div class="alert alert-success">
                        @Html.Raw(ViewBag.Message)
                    </div>
                </div>
            }
            else
            {
                <div class="title">
                    <div class="alert alert-danger">
                        @ViewBag.Message
                    </div>
                </div>
            }
        }
    }

    <div style="@displayStyle" class="title">
        <div id="invoicemessage" class="alert " style="display:none">
            <span id="invoicemessagelabel"></span>
        </div>
        <div class="row">
            <div class="row col-lg-6">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-money"></i>

                        <h3 class="box-title">Withholding Tax invoicing System</h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">

                        </div>
                        <!-- /. tools -->
                    </div>
                    @using (Html.BeginForm("WithholdingTaxInvoice", "Payments", FormMethod.Post))
                    {
                    <div class="box-body">


                        @Html.AntiForgeryToken()


                        <div class="form-group">
                            <label for="Year">Select Withholding Tax Payable </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>

                                <select class="form-control" id="WhtSelect">
                                    <option value="-1">---Select Withholding Tax Payable---</option>
                                    <option value="CS">Contract And Supply</option>
                                    <option value="CP">Consultancy Or Proffesional Fee</option>
                                    <option value="R">Rent</option>
                                    <option value="D">Dividend</option>
                                    <option value="DF">Director Fee</option>
                                    <option value="S">Services</option>
                                    <option value="C">Commission</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Name">Beneficiary Name</label>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = " col-lg-6 col-md-6 col-sm-8 col-xs-4 form-control", type = "text", id = "Name", required = true, name = "Name", placeholder = "Beneficiary Name" } })
                        </div>
                        <div class="form-group">
                            <label for="Name">Beneficiary Name</label>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = " col-lg-6 col-md-6 col-sm-8 col-xs-4 form-control", type = "text", id = "Name", required = true, name = "Address", placeholder = "Beneficiary Address" } })
                        </div>
                        <div class="form-group">
                            <label for="Amount">Amount</label>
                            @Html.EditorFor(model => model.WithholdingTaxActualAmount, new { htmlAttributes = new { @class = " col-lg-6 col-md-6 col-sm-8 col-xs-4 form-control", type = "number", id = "WithholdingTaxActualAmount", required = true, name = "WithholdingTaxActualAmount", placeholder = "Withholding Tax ActualAmount" } })
                        </div>
                        <div class="form-group">
                            <label for="MonthlyIncome">
                                Amount Payable
                            </label>
                            @Html.EditorFor(model => model.WithholdingTaxLiability, new { htmlAttributes = new { @class = " col-lg-6 col-md-6 col-sm-8 col-xs-4 form-control", type = "number", id = "WithholdingTaxLiability", required = true, name = "WithholdingTaxLiability", placeholder = "Withholding Tax Liability", @readonly = "readonly" } })
                        </div>

                        <hr />

                    </div>
                        <div class="box-footer clearfix">
                            <button type="submit" class="pull-right btn btn-default" id="addpayeerecord">
                                Add
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>

            <div class="row col-lg-6">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-money"></i>

                        <h3 class="box-title">WHT Information</h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">

                        </div>

                        <!-- /. tools -->
                    </div>
                    <div class="box-body">

                        <table class="table table-striped">
                            <tr>
                                <th style="width: 25%">WHT Payable</th>
                                <th style="width: 25%">Beneficiary Name</th>
                                <th>Amount</th>
                                <th style="width:15%">TaxLiability</th>
                                <th style="width: 5%">Remove</th>
                            </tr>
                            <tbody id="payeebody"></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" style="text-align:left">
                                        <button class="btn btn-success" id="paypayee"><i class="fa fa-money"></i>PAY PAYEE</button>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>


                    </div>

                </div>
            </div>



        </div>
        <div class="clearfix"></div>
    </div>
</div><!-- /page-title -->


<div style="display:none" id="printdiv">
    <div class="header">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span class="h3"> INVOICE </span><hr />
                <span class="h3" id="printbusinessname"></span> <hr />
                <span class="h4" id="printRemittanceCode"></span><hr />
                <span class="h4" id="printTransactionCode"></span><hr />
                <span class="h5" id="printDate"></span><hr />
                <span class="h5" id="printperiod"></span>
            </div>

        </div>
        <table class="table table-striped">
            <tr>
                <th style="width: 15%">Item</th>
                <th style="width: 15%">Amount (₦)</th>
                <th style="width: 15%">percentage (%)</th>
                <th style="width: 15%">Payment Due (₦)</th>
            </tr>
            <tr>
                <td>Food</td>
                <td><span id="printFoodAmount"></span></td>
                <td><span class="perentagededuction"></span></td>
                <td><span id="printFoodAmountPayable"></span></td>
            </tr>
            <tr>
                <td>Drink</td>
                <td><span id="printDrinkAmount"></span></td>
                <td><span class="perentagededuction"></span></td>
                <td><span id="printDrinkAmountPayable"></span></td>
            </tr>
            <tr>
                <td>Rental</td>
                <td><span id="printRentalAmount"></span></td>
                <td><span class="perentagededuction"></span></td>
                <td><span id="printRentalAmountPayable"></span></td>
            </tr>
            <tr>
                <td>Others</td>
                <td><span id="printOtherAmount"></span></td>
                <td><span class="perentagededuction"></span></td>
                <td><span id="printOtherAmountPayable"></span></td>
            </tr>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th><span id="printTotalAmount"></span></th>
                    <th><span class="perentagededuction"></span></th>
                    <th><span id="printTotalAmountPayable"></span></th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>


@section JavaScript
{
    <script type="text/javascript">




        var ContractAndSupplyRate = @Model.ContractAndSupplyRate.Value;
        var ConsultancyOrProffesionalFeeRate = @Model.ConsultancyOrProffesionalFeeRate.Value;
        var RentRate = @Model.RentRate.Value;
        var DividendRate = @Model.DividendRate.Value;
        var DirectorFeeRate = @Model.DirectorFeeRate.Value;
        var ServicesRate= @Model.ServicesRate.Value;
        var CommissionRate = @Model.CommissionRate.Value;
        var currentpercentage = 0;

        var payee = {
            Name: '',
            Address:'',
            WithholdingTaxRevenueName : '',
            WithholdingTaxActualAmount : 0,
            WithholdingTaxLiability :0,
        };

        var payable = [];


        $('#WhtSelect').on('input keyup blur change keypress', function () {
           var taxcode = $(this).val();
            if(taxcode != "-1"){
               payee.WithholdingTaxRevenueName = $('#WhtSelect option:selected').text();
            }

            if(taxcode == "-1"){
                currentpercentage = 0;
            }
            else if(taxcode == "CS"){

                currentpercentage = ContractAndSupplyRate;
            }
            else if(taxcode == "CP"){
                currentpercentage = ConsultancyOrProffesionalFeeRate;
            }
            else if(taxcode == "R"){
                currentpercentage = RentRate;
            }
            else if(taxcode == "D"){
                currentpercentage = DividendRate;
            }
            else if(taxcode == "DF"){
                currentpercentage = DirectorFeeRate;
            }
            else if(taxcode == "S"){
                currentpercentage = ServicesRate
            }
            else if(taxcode == "C"){
                currentpercentage = CommissionRate
            }
            calculateCollection();
        });

        $('#WithholdingTaxActualAmount').on('input keyup blur change keypress', function () {
            payee.WithholdingTaxActualAmount = $(this).val();
            calculateCollection();
        });

        

        $('#Name').on('input keyup blur change keypress', function () {
            payee.Name = $(this).val();
        });

        $('#Address').on('input keyup blur change keypress', function () {
            payee.Address = $(this).val();
        });

        $('#addpayeerecord').on('click', function (e) {
            e.preventDefault();

            if (checkCanAdd()) {
                payable.push(payee);
                ShowAllPayables();
                resetPayee();
            }
        });

        $('#paypayee').on('click', function (e) {
            e.preventDefault();
            payables = JSON.stringify({ 'model': payable });
            $.ajax({
                type: "POST",
                url: '/Payments/WithholdingTaxInvoice',
                data: payables,
                contentType: 'application/json; charset=utf-8',
                datatype: "json",
                beforeSend: function () {
                    waitingDialog.show("Generating invoice");
                },
                complete: function () {
                    waitingDialog.hide();
                },
                success: function (response) {

                    if (response.status == true) {
                        $('#invoicemessage').removeClass('alert-danger').addClass('alert-success');
                        //$('#invoicemessagelabel').html('Invoice generated successfully, Invoice No: <b>' + response.result.RemittanceCode + '</b>  <button class=\"btn btn-danger\" id=\"downloadinvoice\" transactioncode=\"' + response.result.TransactionCode + '\"> Download Invoice </button> ');
                        $('#invoicemessagelabel').html(response.message);
                        $('#invoicemessage').show();
                        //console.log(response);
                    }
                    else {
                        $('#invoicemessage').removeClass('alert-success').addClass('alert-danger');
                        $('#invoicemessagelabel').html('Invoice generation failed');
                        $('#invoicemessage').show();
                    }

                },
                error: function () {

                }

            });
        });

        $(document).on('click', '.removepayee', function (e) {
            e.preventDefault();
            var index = $(this).attr('data-id');
            payable.splice(index, 1);
            ShowAllPayables();
        });


        var checkCanAdd = function () {

            if (payee.Name == null || payee.Name == '') {
                alert('Please Enter beneficiary Company Name');
                return false;
            }

            if (payee.WithholdingTaxRevenueName == null || payee.WithholdingTaxRevenueName == '') {
                alert('Please Select a Withholding Tax Revenue Type');
                return false;
            }
            
            if (payee.WithholdingTaxLiability <= 0) {
                alert('Please check your enteries');
                return false;
            }
            if (payee.WithholdingTaxActualAmount <= 0) {
                alert('Please Enter Amount');
                return false;
            }
     
            return true;
        };

        var ShowAllPayables = function () {
            //var payeebody = $("#payeebody");
            var innerhtml = '';
            var total = 0;
            for (var i = 0; i < payable.length; i++) {
                innerhtml += '<tr>';
                innerhtml += '<td>' + payable[i].WithholdingTaxRevenueName + '</td>';
                innerhtml += '<td>' + payable[i].Name + '</td>';
                innerhtml += '<td>' + payable[i].WithholdingTaxActualAmount + '</td>';
                innerhtml += '<td>' + payable[i].WithholdingTaxLiability + '</td>';
                
                innerhtml += '<td> <a class="btn btn-danger removepayee" data-id=' + i + '> Remove </a></td>';
                innerhtml += '</tr>';
                total += payable[i].WithholdingTaxLiability;
            }

            innerhtml += '<tr style="font-weight:bolder" >';
            innerhtml += '<td>TOTAL</td>';
            innerhtml += '<td colspan="4" style="text-align:center">' + total.toFixed(2) + '</td>';
            innerhtml += '</tr>';

            $("#payeebody").html(innerhtml);
        };

        var calculateCollection = function () {

            payee.WithholdingTaxLiability = payee.WithholdingTaxActualAmount * (currentpercentage /100);

            $('#WithholdingTaxLiability').val(payee.WithholdingTaxLiability.toFixed(2));
        };

        var resetPayee = function () {
            payee = {
                Name: '',
                Address: '',
                WithholdingTaxRevenueName : '',
                WithholdingTaxActualAmount : 0,
                WithholdingTaxLiability :0,
            };

            $('#WhtSelect').val('-1');
            $('#WithholdingTaxActualAmount').val('');
            $('#Name').val('');
            $('#Address').val('');
            $('#WithholdingTaxLiability').val(0);

        };


       


        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#printbutton').click(function () {
            var transactioncode = $(this).attr("transactionCode");
            loadInvoice(transactioncode);
            //printinvoice();

        });

        $('#downloadinvoice').click(function () {
            var transactioncode = $(this).attr("transactionCode");
            loadInvoice(transactioncode);
            //printinvoice();

        });

        var loadInvoice = function (transactioncode) {
            $.get("@Url.Action("FindTransaction")/" + transactioncode, function (data, status) {
                if (status == "success") {

                    var percentage = data.Transaction.Percentage / 100;
                    $('#printTransactionCode').text('Transaction Code: #' + data.Transaction.TransactionCode);
                    $('#printbusinessname').text('Business Name: ' + data.Transaction.Name);
                    $('#printRemittanceCode').text('Remittance Code: #' + data.Transaction.PaymentReference);
                    $('.perentagededuction').text(data.Transaction.Percentage);
                    $('#printDate').text('Date : ' + data.TransactionDate);
                    $('#printperiod').text('Period : ' + data.Period);


                    $('#printFoodAmount').text(data.Transaction.FoodAmount);
                    $('#printFoodAmountPayable').text(data.Transaction.FoodAmount * percentage);

                    $('#printDrinkAmount').text(data.Transaction.DrinkAmount);
                    $('#printDrinkAmountPayable').text(data.Transaction.DrinkAmount * percentage);

                    $('#printRentalAmount').text(data.Transaction.RentalAmount);
                    $('#printRentalAmountPayable').text(data.Transaction.RentalAmount * percentage);

                    $('#printOtherAmount').text(data.Transaction.OtherAmount);
                    $('#printOtherAmountPayable').text(data.Transaction.OtherAmount * percentage);

                    $('#printTotalAmount').text(data.Transaction.Amount / percentage);
                    $('#printTotalAmountPayable').text(data.Transaction.Amount);


                }
                printinvoice();
            });
        };
        var printinvoice = function () {
            doc.fromHTML($('#printdiv').html(), 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });
            doc.save('invoice.pdf');
        }


    </script>
}



