@model CICSWebPortal.ViewModels.EndofDayViewModel

@{
    string displayStyle = string.Empty;
    ViewBag.Title = "End of Day Report";
    Layout = null;
}

<div class="row">
    <table class="table table-striped" id="dataTable1">
        <thead>
            <tr>
                <td colspan="10" class="text-center">
                    <h4>
                        @if (Model != null && Model.EODReport != null)
                        {
                            <span class="pull-left">@Model.EODReport.Count().ToString("#,0") transactions between @Model.StartDate.ToString("dd/MM/yyyy") and @Model.EndDate.ToString("dd/MM/yyyy")</span>
                        }
                        <span class="pull-right"> Total:: ₦ @Model.TotalTransactionValue.ToString("#,0.00")</span>
                    </h4>
                </td>
            </tr>
            <tr>
                <th><span>TERMINAL CODE</span></th>
                <th><span>NAME </span></th>
                <th><span>EMAIL </span></th>
                <th><span>COUNT </span></th>
                <th><span>STATUS </span></th>
                <th><span>DATE </span></th>
                <th><span>TOTAL </span></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.EODReport != null)
            {
                foreach (var item in Model.EODReport)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TerminalCode)</td>
                        <td>@Html.DisplayFor(modelItem => item.AgentName)</td>
                        <td>@Html.DisplayFor(modelItem => item.AgentEmail)</td>
                        <td>@Html.DisplayFor(modelItem => item.EODCount)</td>
                        <td>@Html.DisplayFor(modelItem => item.EODStatus)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*@section JavaScript
{
    <script type="text/javascript">
        function bindJQueryEvents() {
            $('#dataTable1').dataTable({
                "bJQueryUI": true, "order": [[0, "desc"]],
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sEmptyTable": "No Level exist."
                },
                dom: 'T<"clear">lfrtip',
                tableTools: {
                    "sSwfPath": "~/swf/copy_csv_xls_pdf.swf",
                    "sRowSelect": "os",
                    "aButtons": [
                        "select_all", "select_none",
                        "copy",
                        "csv",
                        "xls",
                        {
                            "sExtends": "pdf",
                            "sPdfOrientation": "landscape",
                            "sPdfMessage": ""
                        },
                        "print"
                    ]
                }
            });
        }
    </script>
}*@