@model CICSWebPortal.Models.Dashboard
@{
    ViewBag.Title = "Home Page";
    string displayStyle = string.Empty;
    int roleId = Convert.ToInt32(Session["RoleID"]);
}

@{displayStyle = string.Empty; if (roleId != 7) { displayStyle = "display: none"; } }
<div style="@displayStyle; padding-left: 20px">
    <h4>Welcome, @ViewBag.TaxpayerName</h4>
</div>

<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="#"> Home</a></li>
        <li class="active">Dashboard</li>
    </ul>
</div><!-- /breadcrumb-->
<div class="main-header clearfix">
    @{displayStyle = string.Empty; if (roleId == 7) { displayStyle = "display: none"; } }
    <div class="page-title" style="@displayStyle">
        <h3 class="no-margin">
            Dashboard
            <a href="/Report/ExecutiveDashboard/" class="btn btn-primary">View Executive Dashboard</a>
            <a href="/Report/PeriodicDashBoard/" class="btn bg-danger">View Zone Positions</a>
        </h3>
    </div><!-- /page-title -->
</div><!-- /main-header -->

@{displayStyle = string.Empty; if (roleId == 2 || roleId == 4 || roleId == 6 || roleId == 7) { displayStyle = "display: none"; } }
<div class="grey-container main-header clearfix" style="margin:0 10px 10px 0; @displayStyle">

    <a href="/User/" class="shortcut-link">
        <span class="shortcut-icon">
            <i class="fa fa-user"></i>
        </span>
        <span class="text">Users</span>
    </a>
    @{ displayStyle = string.Empty; if (roleId > 2) { displayStyle = "display: none"; } }
    <a style="@displayStyle" href="/Notification/" class="shortcut-link">
        <span class="shortcut-icon">
            <i class="fa fa-user"></i>
        </span>
        <span class="text">Notifications</span>
    </a>
    @{ displayStyle = string.Empty; if (roleId > 2) { displayStyle = "display: none"; } }
    <a style="@displayStyle" href="/AuditTrail/" class="shortcut-link">
        <span class="shortcut-icon">
            <i class="fa fa-search"></i>
        </span>
        <span class="text">AuditTrails</span>
    </a>
</div><!-- /grey-container -->

<div class="padding-md">

    @{displayStyle = string.Empty; if (roleId > 2) { displayStyle = "display: none"; } }
    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        <a href="/Client/">
            <h4 class="m-top-none" id="userCount">[ @Model.TotalClient ]</h4>
            <h5>Clients</h5>

            <div class="stat-icon">
                <i class="fa fa-bar-chart-o fa-3x"></i>
            </div>
            <div class="refresh-button">
                <i class="fa fa-refresh"></i>
            </div>
            <div class="loading-overlay">
                <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
            </div>
        </a>
    </div>
    @{displayStyle = string.Empty; if (roleId > 3) { displayStyle = "display: none"; } }
    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        <h4 class="m-top-none"><span id="serverloadCount">[ @Model.TotalAgent ]</span></h4>
        <h5>Zones</h5>

        <div class="stat-icon">
            <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
        <div class="refresh-button">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>

    @{displayStyle = string.Empty; if (roleId == 7) { displayStyle = "display: none"; } }
    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        <h4 class="m-top-none" id="orderCount">[ @Model.TotalTerminal ]</h4>
        <h5>Terminals</h5>

        <div class="stat-icon">
            <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
        <div class="refresh-button">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>

    @{displayStyle = string.Empty; if (roleId == 7) { displayStyle = "display: none"; } }
    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        @*<h4 class="m-top-none" id="visitorCount">[ @Model.TotalTransaction ]</h4>*@
        <h4 class="m-top-none" id="visitorCount">
            [
            @if (Model.TotalTransaction > 0)
            {
                <text>@Model.TotalTransaction.ToString() </text>
            }
            else
            {
                <text>0</text>
            }
            ]
        </h4>
        <h5>Transactions</h5>

        <div class="stat-icon">
            <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
        <div class="refresh-button">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>

    @{displayStyle = string.Empty; if (roleId == 7) { displayStyle = "display: none"; } }
    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        @*<h4 class="m-top-none" id="orderCount">[ ₦@Model.TransctionValue.ToString("#,0.00") ]</h4>*@
        <h4 class="m-top-none" id="orderCount">
            [
            @if (Model.TransctionValue > 0)
            {
                <text>₦@String.Format("{0:n}", Model.TransctionValue)</text>
            }
            else
            {
                <text>0</text>
            }
            ]
        </h4>
        <h5>Transaction Value</h5>

        <div class="stat-icon">
            <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
        <div class="refresh-button">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>

    @{displayStyle = string.Empty; }
    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        <h4 class="m-top-none" id="visitorCount">
            [
            @if (Model.TotalAmountPaid > 0)
            {
                <text>₦@String.Format("{0:n}", Model.TotalAmountPaid) </text>
            }
            else
            {
                <text>0</text>
            }

            ]
        </h4>
        <h5>Amount Paid</h5>

        <div class="stat-icon">
            <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
        <div class="refresh-button">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>

    @{displayStyle = string.Empty; }
    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        <h4 class="m-top-none" id="visitorCount">
            [
            @if (Model.TotalAmountUnpaid > 0)
            {
                <text>₦@String.Format("{0:n}", Model.TotalAmountUnpaid) </text>
            }
            else
            {
                <text>0</text>
            }
            ]
        </h4>
        <h5>Amount Unpaid</h5>

        <div class="stat-icon">
            <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
        <div class="refresh-button">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>

    @{displayStyle = string.Empty; if (roleId > 2) { displayStyle = "display: none"; } }
    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        <h4 class="m-top-none" id="visitorCount">[ @Model.TotalNotifications ]</h4>
        <h5>Notifications</h5>

        <div class="stat-icon">
            <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
        <div class="refresh-button">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>

    @{displayStyle = string.Empty; string walletValue = string.Empty; if (roleId != 7) { displayStyle = "display: none"; }
        if (Model.Wallet.HasValue) { walletValue = String.Format("{0:n}", Model.Wallet); }}
    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        <h4 class="m-top-none" id="visitorCount">[ ₦ @walletValue  ]</h4>
        <h5>Wallet</h5>

        <div class="stat-icon">
            <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
        <div class="refresh-button">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>
    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        <h4 class="m-top-none" id="visitorCount">[ @Model.Invoices ]</h4>
        <h5>Invoices</h5>

        <div class="stat-icon">
            <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
        <div class="refresh-button">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>

    <div class="panel-stat3 bg-success col-md-3" style="margin:0 10px 10px 0; @displayStyle">
        <h4 class="m-top-none" id="visitorCount">[ @Model.Notification ]</h4>
        <h5>Notifications</h5>

        <div class="stat-icon">
            <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
        <div class="refresh-button">
            <i class="fa fa-refresh"></i>
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>
</div>